In [1]:
import pandas as pd

In [8]:
df = pd.read_excel("q8.xlsx")

In [9]:
df

  Device Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151      <url>https://thX672.dia_meter.com</url>
2      ZOD243    <url>https://yT9454.smart_meter.com</url>

In [10]:
df["Stats_Access_Link"]=df["Stats_Access_Link"].str.slice(start=13,stop=-6)
df

  Device Type         Stats_Access_Link
0      AXO145  xcd32112.smart_meter.com
1      TRU151      thX672.dia_meter.com
2      ZOD243    yT9454.smart_meter.com